
/* -----------------------------Basic Setup---------------------------------------------------- */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        background-color: #FAFAFA;
        font-family: 'News-Gothic-BT-reg','Trebuchet MS',Arial;
        font-size: 16px; 
        font-weight: 400;
    }
    .row {
        max-width: 1280px;
        margin: 0 auto;
    }

    li {
        font-size: 1rem;
        list-style: none;
        display: inline-block;
    }

    p {
        font-size: 1rem;
        line-height: 1.6;
        color: #353b42;
        font-weight: bold;
    }

h2{
    font-size: 2rem;
    font-weight: 600;
    color:#353b42;
    text-align: center;
    position: relative;
    margin-bottom: 5%;
    }
    h2::before,
    h2::after {
        display: inline-block;
        content: "";
        border-bottom: .2rem solid #979899;
        width: 20rem;
        margin: 0 1rem;
        transform: translateY(-1rem);
    }



/* -------------------------------------Header----------------------------------------- */

header {
    height: 7vh;
    background-color: #888c8f;
}

.nav-main {
    position: absolute;
    right: 20%;
    top: 2%;
}
.nav-main li {
    margin-left: 25px;
}
.nav-main li a:link,
.nav-main li a:visited {
    color: #ffffff;
    text-decoration: none;
}

.lidl-reisen {
    position: absolute;
    top: 2%;
    left:17%;
    font-size: 1rem; 
}

.lidl-reisen:link,
.lidl-reisen:visited {
    color: #ffffff;
    text-decoration: none;
}

.logo-lidl {
height: 150px;
width: auto;
float: left;
margin-left:110px;
margin-top: 40px;
}

/* -------------------------------------Section1----------------------------------------- */
.section1 {
    margin-bottom: 5rem;
}

#search-text {
    padding:20px;
    margin-top: 30px;
    margin-left: 10px;
    height: 60px;
    width: 30%;
    border: 1px solid gray;
}
::placeholder {
    font-size: 1rem;
    color: gray;
    font-weight: 500;
  }

 .fas{
    padding:20px;
    position: absolute;
    margin-top: 30px;
    height: 58px;
    width: auto;
    background-color: #06507f;
    cursor: pointer; 
    color: white;
}

#prospekte{
    top:13%;
    right:20%;
    position:absolute;
    width:40px;
    height:40px;
    border: none;
    cursor: pointer; 
}
#prospekte-2 {
    top:21%;
    right:19%;
    position:absolute;
    color: #2f3a44;
    font-weight: 100;
    font-size: 0.8rem;
}

#newsletter{
    top:13%;
    right:15%;
    position:absolute;
    width:40px;
    height:40px;
    border: none;
    cursor: pointer; 
}

#newsletter-2 {
    top:21%;
    right:13%;
    position:absolute;
    color: #2f3a44;
    font-size: 0.8rem;
}

/*---------------------------------section-2-----------------------------------------*/

.section2 {
    margin-bottom: 5rem;
}
.nav-main-2 li {
    margin-left: 100px;
    font-size: 1.5rem;
}
.nav-main-2 li a:link,
.nav-main-2 li a:visited {
    color: #2f3a44;
    text-decoration: none;
}
#reisen, #Reiseprospekte {
    color:#06507f;
    font-weight: 900;
    text-decoration: underline;
}

.nav-main-2 {
    border-bottom: 5px solid rgb(231, 227, 227);
     height: 100px;  
}

.nav-main-3 {
    margin-top: 50px;
}

.nav-main-3 li {
    margin-left: 100px;
    font-size: 1rem;   
}
.nav-main-4 li a {
 color: black;
 font-weight: bold;
}
.nav-main-3 li a:link,
.nav-main-3 li a:visited {
    color: #2f3a44;
    text-decoration: none;
}

.nav-main-4 {
    margin-top: 50px;
    margin-left: 110px;
}

.nav-main-4 li {
    margin-left: 50px;
    font-size: 1rem;
    
}
.nav-main-4 li a:link,
.nav-main-4 li a:visited {
    color: #2f3a44;
    text-decoration: none;
}

#level  {
    color:#06507f;
    font-weight: 900;
}

/*---------------------------------section-3-----------------------------------------*/
.section3{
background-image: url("../images/lastMinute.PNG");
background-repeat: no-repeat;
background-size: cover;
height: 75vh;
}

/*---------------------------------section-4-----------------------------------------*/

.section4{
background-color: #2f3a44;
padding:50px;
    }
 .span-1-of-5 label {
 color:#ffffff;
 font-weight: 600;
 font-size: 1.3rem;
     }

.span-1-of-5 input, .btn {
  padding: 20px;
  width:100%;
     } 

.chev-1 {
    height: 25px;
    margin-left: -40px;
    width:30px;
    margin-bottom: -10px;
}
.btn {
    color:#fff;
    background-color: #0076bf;
    cursor: pointer;
    border: none;
    font-weight: 700;
}
.filter {
    position:absolute;
    right: 4%;
    margin-top: 10px;
}
.filter a{
    color: rgb(247, 240, 240);
   
}

#chev-down {
   position: absolute;
    height:25px;
    width:30px;
}
#reisende::placeholder {
    color: #0076bf;
    font-weight: 600;
}
/*---------------------------------section-5-----------------------------------------*/

.section5{
    text-align: center;
    padding:100px;
}

/*---------------------------------section-6-----------------------------------------*/
.section6{
    padding: 100px;
}
.firstdiv {
    display: table-cell;
}
.linksel{
color : grey;
background-color : #0050aa;
padding : 10px;
font-size: 2rem;
margin-right: 10px;
text-decoration: underline;
}

.lorem {
    font-size: 1.8rem;
    color: grey;
}
.lorem2 {
    font-size: 1rem;
    color:black;
}
span {
    border:2px solid grey;
    padding: 15px;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    float:right;
}
.lorem3 {
   margin-left: 220px;
   margin-right: 100px;
   font-size: 0.7rem;
}
/*---------------------------------section-7-----------------------------------------*/

.section7{
    padding: 100px;
}
.seconddiv {
    display: table-cell;
}
.imgProdukt {
    height: 500px;
}
.ptext {
    margin-left: 5%;
}
.dv{
    background-color: #ACB0B4;
    height: 3rem;
    margin-right: 1rem;
    margin-left: 0.5rem;

}
 .button1 {
    position:absolute;
    cursor: pointer;
    margin-top: 250px;
    left: 15%;
    padding: 10px;

}

.button2 {
    position:absolute;
    cursor: pointer;
    margin-top: 250px;
    left:80%;
    padding: 10px;
}



/*---------------------------------section-8-----------------------------------------*/
.section8{
    padding: 100px;
}

.thirddiv {
    float: left;
    width:33%;
}
.teaser{
    height:20rem;
    width: 100%;
}

.lorem4 {
    text-align: left;
    background-color: #ffffff;
    margin-left: 0.6rem;
    margin-right: 0.2rem;
    width:auto;
    height: 6rem;
    padding: 2rem;
}

.dv2{
    background-color: #ACB0B4;
    margin-left: 0.6rem;
    margin-right: 0.2rem;
    width:auto;
    height: 3rem;
}
/*---------------------------------section-9-----------------------------------------*/

.section9{
    text-align:center;
    padding:100px;
}


